<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Página Inicial</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-7">
            <form method="POST" action="/send-notification">
              <main>
                <h2>Bot Notification</h2>
                <div class="form-group">
                  <label for="fullName">Nome:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Seu nome completo ..."
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Email..."
                    required
                  />
                  <div class="form-group">
                    <label for="email">Empresa:</label>
                    <input
                      type="empresa"
                      class="form-control"
                      id="empresa"
                      name="empresa"
                      placeholder="Empresa..."
                      required
                    />
                </div>
                <div class="form-group">
                  <label for="description">Descrição:</label>
                  <textarea
                    id="description"
                    class="form-control"
                    name="description"
                    placeholder="Digite seu texto aqui..."
                    required
                  ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </main>
            </form>         
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
